* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  line-height: 1.5;
  font-family: "Literata", serif;
  font-size: 1.2em;
  color: #313131;
  background: #fbf6f4;
  max-width: 1000px;
  min-height: 100%;
  grid-template-rows: 1fr auto;
  display: flex;
  flex-direction: column;
}

a {
  color: #3f51b5;
}

header {
  font-size: 1.4em;
  padding: 10px 20px;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.logo {
  color: #313131;
  text-decoration: none;
}

.logo-details {
  margin-left: 10px;
  border-left: 2px solid #313131;
  padding-left: 10px;
  font-size: 0.8em;
  font-family: "Inconsolata", monospace;
}

main {
  text-align: justify;
  padding: 20px;

  img {
    margin: auto;
    display: block;
    max-width: 100%;
    height: auto;
  }

  iframe {
    margin: auto;
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4 {
    text-align: left;
    word-break: break-word;
  }

  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.2em;
  }
}

.page-title {
  width: 100%;
  display: block;
  text-align: center;
}

.lazyload {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  .download-link {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), #000;
    background-position: center;
    background-size: 50% 2px, 2px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat: no-repeat;
    border-radius: 50%;
    opacity: 0.5;
    transition: opacity 0.2s ease-out;
  }

  .download-link:hover {
    opacity: 1;
  }
}

footer {
  margin-top: auto;
  padding: 20px;
  display: flex;
  align-items: center;
}

.social-links {
  margin-left: auto;
}

@media screen and (max-width: 800px) {
  body {
    font-size: 1em;
  }

  .logo-details {
    display: none;
  }
}
