* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  line-height: 1.5;
  font-family: "Literata", serif;
  font-size: 20px;
  color: #313131;
  background: #fbf6f4;
  max-width: 1000px;
  min-height: 100%;
  grid-template-rows: 1fr auto;
  display: flex;
  flex-direction: column;
}

a {
  word-break: break-all;
  color: #3f51b5;
}

header {
  font-weight: bold;
  font-size: 30px;
  padding: 10px 20px;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.logo {
  color: #313131;
  text-decoration: none;
}

.logo-details {
  opacity: 0.5;
  margin-left: 10px;
  border-left: 2px solid #313131;
  padding-left: 10px;
  font-size: 25px;
}

@media screen and (max-width: 800px) {
  .logo-details {
    display: none;
  }
}

main {
  text-align: justify;
  padding: 20px;

  img {
    margin: auto;
    display: block;
    max-width: 100%;
    height: auto;
  }

  iframe {
    margin: auto;
    max-width: 100%;
  }
}

.page-title {
  width: 100%;
  display: block;
  text-align: center;
}

footer {
  margin-top: auto;
  padding: 20px;
}
