@import "../node_modules/highlight.js/styles/atom-one-dark";

.hljs {
  font-size: 0.9em;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #222;
  font-family: "Inconsolata", monospace;
}

.hljs::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.hljs::-webkit-scrollbar-track {
  border-radius: 10px;
}

.hljs::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}

.hljs::-webkit-scrollbar-thumb:window-inactive {
  background: #999;
}
